#main{
    width:900px;
    min-height:700px;
    background-color: #F88D5E;
    float: left;
    padding: 20px;
}
.header{
    width:100%;
    min-height:100px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 10px;
    margin-bottom: 20px;

}
.center{
    width:100% ;
    min-height: 460px;
    float: left;
    background-color: #F88D5E;

}
.sidebar{
    width: 280px;
    min-height:460px;
    float: left;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 20px;
}
.maincontent{
    width: 600px;
    min-height: 460px;
    background-color: #FFFFFF;
    border-radius: 10px;
    float: left;
}
.footer{
    width:100%;
    min-height:100px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 10px;
    margin-top: 20px;
}